<div class="container mt-4">

  <div class="text-end mt-4">
    <%= link_to "Ingresar sucursal", new_branch_path, class: "btn text-white btn-primary rounded"  %>
  </div>



    <% if @branches.empty? %>
      <h2>No hay sucursales disponibles</h2>
    <% else %>

      <table class="table table-borderless mt-5">

        <thead>
          <tr>
            <th>Nombre</th>
            <th>Empleados</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @branches.each do |branch| %>
            <tr>
              <td><%= branch.name %></td>
              <td class="text-center"><%= branch.branch_employees.count %> <i class="small fas fa-comment text-comments-color"></i></i></td>
              <td class="text-center">
                <%= link_to branch_path(branch) do %>
                  <i class="fas fa-eye show-btn"></i>
                <% end %>

                <%= link_to edit_branch_path(branch) do %>
                  <i class="fas fa-edit mx-3 edit-btn"></i>
                <% end %>

                <%= link_to branch_path(branch), method: 'delete' do %>
                  <i class="fas fa-trash-alt delete-btn "></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

</div>
